<md-bottom-sheet class="bottom-sheet md-grid" ng-controller="cbBottomSheetController">
  <md-list>
    <md-item>
      <md-button class="md-grid-item-content" ng-click="handleSettingsClick()">
        <md-icon md-svg-src="images/settings.svg"></md-icon>
        <div class="md-grid-text"> Settings </div>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" ng-click="handleHelpClick()">
        <md-icon md-svg-src="images/help.svg"></md-icon>
        <div class="md-grid-text"> Help </div>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" ng-click="handleAboutClick()">
        <md-icon md-svg-src="images/coffee.svg"></md-icon>
        <div class="md-grid-text"> About </div>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>